:root {
    --color-red: hsl(0, 100%, 50%);
    --color-blue: hsl(223, 100%, 50%);
    --color-pink: hsl(334, 100%, 66%);
    --color-black: hsl(334, 100%, 0%);
    --color-violet: hsl(274, 56%, 68%);
    --color-orange: hsl(18, 100%, 48%);
    --color-yellow: hsl(59, 94%, 62%);
    --color-green: hsl(122, 94%, 29%);
    --color-white: hsl(122, 94%, 100%);
  }